@import url("animations.css");
@import url("variables.css");

#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

#contact-container hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-container address {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

my-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 4%;
    width: 31%;
}

my-contact p {
    width: 60%;
    padding: 2em 0;
    text-align: center;
}

my-contact > a {
    display: flex;
    justify-content: flex-start;
    width: 40%;
}

my-contact a img {
    width: 85%;
    animation: bounce 2s linear infinite;
}

my-contact p a {
    font-weight: bold;
    color: var(--main-color-dark,black);
}

my-contact[data-contact="github"] {
    background-color: #e9cffa;
}

my-contact[data-contact="linkedin"] {
    background-color: #cae3fa;
}

my-contact[data-contact="email"] {
    background-color: #faedac;
}

#contact-container form {
    background-color: white;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5em;
    padding: 3rem;
    border-radius: 1.5em;
    box-shadow: var(--shadow-form, none);
}

#contact-container form label {
    font-size: 1.2em;
    text-align: right;
    font-weight: bold;
    padding-right: 1rem;
}

#contact-container form input,
#contact-container form textarea {
    width: 100%;
    padding: 1rem 1rem;
    border: 1px solid var(--main-color-dark, hotpink);
    border-radius: 0.5rem;
}

#contact-container form .form-buttons {
    grid-column: span 2;
    display: flex;
    justify-content: space-evenly;
}

.clear-btn {
    color: var(--warning-color, red);
    text-decoration: underline;
    background-color: transparent;
    border: none;
}

@media (max-width: 600px) {
    #contact-container form {
        width: 70%;
        gap: 10px;
        padding: 20px;
        border-radius: 10px;
    }
    
    #contact-container form label {
        font-size: 0.8em;
        padding-right: 0.5rem;
    }
    
    #contact-container form input,
    #contact-container form textarea {
        width: 100%;
        padding: 0.1rem;
        border-radius: 0.5rem;
    }
}

@media (min-width: 1200px) {
    my-contact p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1400px) {
    my-contact p {
        font-size: 1.4rem;
    }
}

@media (max-width: 1200px) {
    my-contact p {
        font-size: 1.1rem;
    }
}

@media (max-width: 1000px) {
    my-contact p {
        font-size: 1rem;
    }
}

@media (max-width: 920px) {
    my-contact p {
        font-size: 0.9rem;
    }
}

@media (max-width: 850px) {
    my-contact p {
        font-size: 0.8rem;
    }
}

@media (max-width: 800px) {
    address {
        flex-direction: column;
        align-items: center;
        gap: 4vw;
    }

    my-contact {
        width: 60%;
        padding: 0 8%;
    }

    my-contact a img {
        width: 80%;
    }

    my-contact > p {
        font-size: 1.4rem;
    }
}

@media (max-width: 700px) {
    my-contact > p {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    my-contact > p {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    my-contact > p {
        font-size: 0.8rem;
    }
}
