:root {
    --background-color: #faf7fa;
    --main-color: #f09da8;
    --main-color-light: #f5c6cc;
    --secondary-color: #d39df0;
    --text-primary-color: #202020;
    --text-secondary-color: #707070;
    --warning-color: #fc1225;
    --hightlight-background-color: yellow;
    --hightlight-text-color: #e8028c;
    --hover-background-color: snow;

    --font-size-base: 16px;

    --font-primary: 'Karla';
    --font-input: 'Montserrat';
    --font-button: 'Tomorrow';

    --gradient-primary: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%);
    --gradient-secondary: linear-gradient(to right, #A4508B 0%, #F7BB97 51%, #A4508B 100%);

    --shadow-card: 5px 5px 5px 0 #0003, 5px 5px 5px 0 rgba(0 0 0 / 5%);
    --shadow-form: 0 1px 5px 0 #0003, 0 1px 5px 0 rgba(0 0 0 / 5%);
    --shadow-search: 0 3px 10px 0 #0003, 0 3px 10px rgba(0 0 0 / 5%);
    --shadow-button: 2px 2px 8px 0 #0003, 2px 2px 8px 0 rgba(0 0 0 / 13%);
    --shadow-button-hover: 2px 2px 10px 0 #0003, 2px 2px 10px 0 rgba(0 0 0 / 7%);
    --shadow-button-active: 2px 2px 6px 0 #0003, 2px 2px 6px 0 rgba(0 0 0 / 15%);
}